<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout_auth.html}">
<!--begin::Head-->

<head>
    <title>Login</title>
</head>

<body>
    <th:block layout:fragment="content">
        <!--begin::Login Sign in form-->
        <div class="login-changePassword">
            <div class="mb-20">
                <h3 class="text-dark-75">Change your password</h3>
                <p class="opacity-60 font-weight-bold text-dark-75">Enter your new password:</p>
            </div>
            <form class="form" id="kt_c_password_form">
                <!-- <input type="hidden" name="token" th:value="${token}"/> -->
                <div class="form-group">
                    <input
                        class="form-control h-auto text-dark placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5"
                        type="password" placeholder="New Password" name="password" />
                </div>
                <div class="form-group">
                    <input
                        class="form-control h-auto text-dark placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5"
                        type="password" placeholder="Confirm New Password" name="cPassword" />
                </div>
                <div class="form-group text-center mt-10">
                    <a th:href="@{/}" id="kt_change_password_cancel"
                        class="btn btn-pill btn-outline-dark font-weight-bold opacity-70 px-15 py-3 m-2">Cancel</a>
                    <button id="kt_change_password_submit"
                        class="btn btn-pill btn-outline-dark font-weight-bold opacity-90 px-15 py-3">Change
                        Password</button>
                </div>
            </form>
        </div>
        <!--end::Login Sign in form-->
    </th:block>
    <th:block layout:fragment="js">
        <script th:src="@{/js/change-password.js}"></script>
    </th:block>
</body>
<!--end::Body-->

</html>