<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<!--begin::Head-->

<head>
    <title>Event Management</title>
</head>
<!--end::Head-->
<!--begin::Body-->

<body>
    <th:block layout:fragment="content">
        <div class="card card-custom">
            <div class="card-body">
                <!--begin::Wizard-->
                <div class="wizard wizard-1" id="kt_wizard" data-wizard-state="step-first"
                    data-wizard-clickable="false">
                    <!--begin::Wizard Nav-->
                    <div class="wizard-nav border-bottom">
                        <div class="wizard-steps p-8 p-lg-10">
                            <!--begin::Wizard Step 1 Nav-->
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                <div class="wizard-label">
                                    <i class="wizard-icon flaticon-list"></i>
                                    <h3 class="wizard-title">1. Setup Event Basic Info</h3>
                                </div>
                                <span class="svg-icon svg-icon-xl wizard-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <rect fill="#000000" opacity="0.3"
                                                transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                                x="11" y="5" width="2" height="14" rx="1" />
                                            <path
                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <!--end::Wizard Step 1 Nav-->
                            <!--begin::Wizard Step 2 Nav-->
                            <div class="wizard-step" data-wizard-type="step">
                                <div class="wizard-label">
                                    <i class="wizard-icon flaticon-calendar"></i>
                                    <h3 class="wizard-title">2. Setup Event Details</h3>
                                </div>
                                <span class="svg-icon svg-icon-xl wizard-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <rect fill="#000000" opacity="0.3"
                                                transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                                x="11" y="5" width="2" height="14" rx="1" />
                                            <path
                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <!--end::Wizard Step 2 Nav-->
                            <!--begin::Wizard Step 3 Nav-->
                            <div class="wizard-step" data-wizard-type="step">
                                <div class="wizard-label">
                                    <i class="wizard-icon flaticon-globe"></i>
                                    <h3 class="wizard-title">3. Review and Submit</h3>
                                </div>
                            </div>
                            <!--end::Wizard Step 3 Nav-->
                        </div>
                    </div>
                    <!--end::Wizard Nav-->
                    <!--begin::Wizard Body-->
                    <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                        <div class="col-xl-12 col-xxl-7">
                            <!--begin::Wizard Form-->
                            <form class="form" id="kt_form">
                                <!--begin::Wizard Step 1-->
                                <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                    <h3 class="mb-10 font-weight-bold text-dark">Setup Your Event Basic Information</h3>
                                    <!--begin::Input-->
                                    <div class="form-group eventTitle">
                                        <label>Event Title</label>
                                        <input type="text" class="form-control form-control-solid form-control-lg"
                                            placeholder="Event Title" name="title" value="" />
                                        <span class="form-text text-muted">Please enter title</span>
                                    </div>
                                    <!--end::Input-->
                                    <!--begin::Input-->
                                    <div class="form-group eventDescription">
                                        <label>Event Description</label>
                                        <textarea class="form-control form-control-solid form-control-lg"
                                            id="description" rows="4" placeholder="add description here"
                                            name="description"></textarea>
                                        <span class="form-text text-muted">Please enter description</span>
                                    </div>
                                    <!--end::Input-->
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>PIC Information</label>
                                        <input type="text" class="form-control form-control-solid form-control-lg"
                                            placeholder="email or phone number" value="" name="contactPerson" />
                                        <span class="form-text text-muted">Please enter contact information</span>
                                    </div>
                                    <!--end::Input-->
                                    <!--begin:input-->
                                    <div class="form-group">
                                        <label>Event Picture</label>
                                        <div></div>
                                        <div class="custom-file">
                                            <input type="hidden" id="eventImage" />
                                            <input type="hidden" id="eventImage" />
                                            <input type="file" accept="image/png, image/jpeg"
                                                class="custom-file-input form-control-solid form-control-lg"
                                                id="customFile" name="image" />
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                    <!--end:input-->
                                </div>
                                <!--end::Wizard Step 1-->

                                <!--begin::Wizard Step 2-->
                                <div class="pb-5" data-wizard-type="step-content">
                                    <h4 class="mb-10 font-weight-bold text-dark">Enter the Details of your event</h4>
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <label>Quota</label>
                                                <input id="kt_touchspin_1" type="text"
                                                    class="form-control bootstrap-touchspin-vertical-btn form-control-solid form-control-lg"
                                                    value="1" placeholder="1" name="quota" />
                                                <span class="form-text text-muted">Please enter a number</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <label>Registration Deadline</label>
                                                <div class="input-group date" id="kt_datetimepicker_r"
                                                    data-target-input="nearest">
                                                    <input type="text"
                                                        class="form-control datetimepicker-input form-control-solid form-control-lg"
                                                        placeholder="Select date & time"
                                                        data-target="#kt_datetimepicker_r"
                                                        name="registrationDeadline" />
                                                    <div class="input-group-append" data-target="#kt_datetimepicker_r"
                                                        data-toggle="datetimepicker">
                                                        <span class="input-group-text">
                                                            <i class="ki ki-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>How many days ?</label>
                                                <input id="kt_touchspin_4" type="text"
                                                    class="form-control bootstrap-touchspin-vertical-btn form-control-solid form-control-lg"
                                                    value="1" max="7" placeholder="1" />
                                                <span class="form-text text-muted">Please enter a number 1 - 7</span>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>
                                    <div id="event_schedule">
                                        <div class="card card-custom card-collapsed card-schedule" data-card="true"
                                            id="kt_card_1">
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 2-->

                                <!--begin::Wizard Step 3-->
                                <div class="pb-5" data-wizard-type="step-content">
                                    <!--begin::Section-->
                                    <h4 class="mb-10 font-weight-bold text-dark">Review your Details and Submit</h4>
                                    <h6 class="font-weight-bolder mb-3">EVENT BANNER:</h6>
                                    <div class="col-md-4 col-xxl-4 col-lg-12">
                                        <!--begin::Card-->
                                        <div class="card card-custom card-shadowless">
                                            <div class="card-body p-0">
                                                <!--begin::Image-->
                                                <div class="overlay">
                                                    <div class="overlay-wrapper rounded bg-light text-center">
                                                        <img id="review_image" src="" alt="" class="mw-100 w-200px">
                                                    </div>
                                                </div>
                                                <!--end::Image-->
                                            </div>
                                        </div>
                                        <!--end::Card-->
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <h6 class="font-weight-bolder mb-3">EVENT TITLE:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div id="review_title"></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <h6 class="font-weight-bolder mb-3">EVENT DESCRIPTION:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div id="review_description"></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <h6 class="font-weight-bolder mb-3">EVENT PIC:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div id="review_pic"></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <h6 class="font-weight-bolder mb-3">EVENT QUOTA:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div id="review_quota"></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <h6 class="font-weight-bolder mb-3">EVENT REGISTRATION DEADLINE:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div id="review_reg_deadline"></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <h6 class="font-weight-bolder mb-3">EVENT SCHEDULE:</h6>
                                    <div class="line-height-lg">
                                        <div id="review_schedule">

                                        </div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                </div>
                                <!--end::Wizard Step 3-->
                                <!--begin::Wizard Actions-->
                                <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                    <div class="mr-2">
                                        <button type="button"
                                            class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4"
                                            data-wizard-type="action-prev">Previous</button>
                                    </div>
                                    <div>
                                        <button type="button"
                                            class="btn btn-success font-weight-bolder text-uppercase px-9 py-4"
                                            data-wizard-type="action-submit">Submit</button>
                                        <button type="button"
                                            class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4"
                                            data-wizard-type="action-next">Next</button>
                                    </div>
                                </div>
                                <!--end::Wizard Actions-->

                            </form>
                            <!--end::Wizard Form-->
                        </div>
                    </div>
                    <!--end::Wizard Body-->
                </div>
                <!--end::Wizard-->
            </div>
            <!--end::Wizard-->
        </div>
        <input type="hidden" id="_idEvent" th:value="${idEvent}" />
    </th:block>
    <th:block layout:fragment="js">
        <script th:src="@{/js/form/card_tools.js}"></script>
        <script th:src="@{/js/wizard/wizard.js}"></script>
        <script th:src="@{/js/form/bootstrap-touchspin.js}"></script>
        <script th:src="@{/js/form/event_schedule.js}"></script>
        <script th:src="@{/js/form/formCreate.js}"></script>
    </th:block>
</body>

</html>