<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<title>Registration Ticket</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style>
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .content {
    font-size: 14px;
    height: auto;
  }

  table {
    width: 100%;

    border-collapse: collapse;
  }
</style>
</head>

<body>

  <div class="content">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <!-- LOGO -->
      <tr>
        <td bgcolor="#5AB9EA" align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
            <tr>
              <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#5AB9EA" align="center" style="padding: 0px 10px 0px 10px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
            <tr>
              <td bgcolor="#84CEEB" align="center" valign="top"
                style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                <h1 style="font-size: 48px; font-weight: 400; margin: 2;">New Account</h1>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#C1C8E4" align="center" style="padding: 0px 10px 0px 10px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
            <tr>
              <td bgcolor="#84CEEB" align="left"
                style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                <p style="margin: 0;">Hello <b th:text="${name}">Full Name</b>, We have registered your
                  new account. Please go to the following link and create your <b>new password</b></p>
              </td>
            </tr>
            <tr>
              <td bgcolor="#84CEEB" align="left">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#84CEEB" align="center" style="padding: 20px 30px 60px 30px;">
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th>
                            <a th:href="${link}"
                              style="font-size: 20px; background-color: #5680E9; border-radius: 3px;  font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px;  display: inline-block;">Create
                              Password</a>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr> <!-- COPY -->

          </table>
        </td>
      </tr>
      <tr>
        <th style="color: #666666; background-color: #C1C8E4;">
          <p>&copy; 2021 MCC5657</p>
          <p>Event Management</p>
        </th>
      </tr>

    </table>
  </div>

</body>

</html>